{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/login.css') }}">
{% endblock %}


{% block body %}
    <div class="login-page">
        <div class="registration-form">
            <form method="post" autocomplete="on" class="main-form">
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}

                <div class="main-form__center"> <p class="main-form__title">Установка пароля</p></div>
                <label for="password" class="main-form__label">Пароль</label>
                <input type="password" class="main-form__input form-control" value="" name="password" id="password"
                       required autofocus>
                <label for="inputPasswordRepeat" class="main-form__label">Повторите пароль</label>
                <input type="password" name="repeatPassword" id="inputPasswordRepeat" class="form-control main-form__input" required>
                <input type="hidden" name="recovery"  value="{{ recovery }}">



                <button   id="submit-btn" class="btn btn-lg btn-primary main-form__submit" type="submit">Сохранить</button>
                <div class="back-link">
                    <a href="{{ path('index') }}">Отмена</a>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
