<div class="contacts">
    <a href="https://wa.me/79255212648"><img class="connection" src="{{ asset('icons/whatsapp-logo.svg') }}"/></a>
    <a href="https://telegram.me/cashin_support"><img class="connection"src="{{ asset('icons/telegram-logo.svg') }}"/></a>
    <a href=""><img class="connection" src="{{ asset('icons/skype-logo.svg') }}"/></a>
    <a href="viber://chat?number=%2B79255212648"><img class="connection" src="{{ asset('icons/viber-logo.svg') }}"/></a>
</div>
