{% extends 'base.html.twig' %}


{% block body %}


    <div class="form">
        <span class="notification">Ошибка</span><br><br>

        <div class="on-head"><a href="{{ path('index') }}">На главную</a></div>
    </div>

{% endblock %}
