{% extends 'base.html.twig' %}


{% block body %}


    <div class="form">
        <span class="">Правила предоставления услуг</span><br><br>
        <div style="text-align: left">
        <span class="">1. Вывод Webmoney возможен только на счет владельца WMID с аттестатом не ниже формального, переводы в пользу третьих лиц запрещены. Аттестат должен быть оформлен на получателя средств в Альфа-Банке ( Россия ).<br><br>

2. Платежи на банковские счета обрабатываются в ручном режиме, зачисление происходит в течение рабочего дня. Обычно платежи поступают в течение 1-2 часов. Платежи, поступившие после 21 часов по московскому времени, зачисляются на следующий рабочий день.<br><br>

3. Лимитов по суммам вывода нет. Ваша сумма может быть как 500 рублей, так и 5.000.000 рублей. Мы гарантируем безопасность платежей с точки зрения контролирующих органов и службы безопасности банка.</span>
        </div>
        <div class="on-head"><a href="{{ path('index') }}">На главную</a></div>
    </div>

{% endblock %}
